*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: papayawhip; /* #151B26*/
}

@import 'partials/colors';
@import 'partials/layout';
@import 'partials/mainrecipe';
@import 'partials/content-sections';
@import 'partials/hero-foodCategory';
@import 'partials/typography';
@import 'partials/recipe-page';
@import 'partials/spacing';


@import 'partials/navigation';