*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFF5F2;  /* #151B26... #F3D7B5...#FFE4B3;*/
}
/*#fcdfcf , #FDF7EF, #fcf7f2,
 #FFF5F2  <atual */

@import 'partials/colors';
@import 'partials/mixin-layout';
@import 'partials/typography';

@import 'partials/content-sections';

@import 'partials/mainrecipe';

@import 'partials/hero-foodCategory';

@import 'partials/recipe-page';
@import 'partials/spacing';


@import 'partials/navigation';
@import 'partials/footer';