.hero{
    
    text-align: center;  //está errado usar text-aligin ou é melhor usar display:flex?
    padding: 48px 16px;

    @include responsive(mobile){
        padding:48px;
    }

    .woodspoon{
        width: 35%;
    
        @include responsive(mobile){
           width: 50%; 
        }
        
    }
}



.bg-section-02{
  background-color: #F0E6D6;
    text-align: center;
 
  
    
   p{
   
    padding-top: 12px;
   }
    
  
}



.grid-categories{


    @include grid-responsive(4);
    gap: 26px;
    max-width: 900px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
   

   
    @include responsive(mobile){
        @include grid-responsive(2);

        
        
    }

}

.food-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;      
 
  margin: 8px;


  .category-img {
    width: 70px;      
    height: auto;     
    
  }

  .category-label {
    font-size: 16px;
    color: #58855D;
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
    
    padding: 0;
    
  }

  a{
    text-decoration: none;
  }
}







