.hero{
    background-color: $pink-dark;
    text-align: center;  //está errado usar text-aligin ou é melhor usar display:flex?
    padding: 48px 16px;

    @include responsive(mobile){
        padding:48px;
    }

    .woodspoon{
        width: 35%;
    
        @include responsive(mobile){
           width: 50%; 
        }
        
    }
}



.bg-section-02{
 
    text-align: center;
   border: 1px solid red;
  
    
   p{
   
    padding-top: 12px;
   }
    
  
}

.food-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;      
  border: 2px solid red;
  


  .category-img {
    width: 50px;      
    height: auto;     
   
  }

  .category-label {
    font-size: 16px;
    color: #333;
    text-align: center;
    
    padding: 0;
  }
}







