
//Container-devices
$container-desktop: 1280px; //Notebooks até monitores grandes
$container-tablet: 768px;   //Tablets e celulares grandes
$container-mobile: 360px;   //Celulares pequenos

//Mixin of media-queries
@mixin responsive($device){

    @if $device == desktop {
        //Para telas maiores que 1280px (notebooks e monitores grandes)
        @media screen and (min-width: $container-desktop) {
            @content;
        }
    }

    @else if $device == tablet {
        //Para telas entre 768px e 1279 (tablets e celulares grandes)
        @media screen and (min-width: $container-tablet) and (max-width: $container-desktop){
            @content;
        }
    }

    @else if $device == mobile{
        //Para telas menores que 768px (celulares pequenos e médios)
        @media screen and (max-width: $container-tablet) {
            @content;
        }
    }

    @else if $device == small-mobile {
        //Para telas muito pequenas
        @media screen and (max-width: $container-mobile) {
            @content;
        }
    }
}


@mixin grid-responsive($columns) {
    display: grid;
   
    
    @if $columns == 4 {
        grid-template-columns: repeat(4, 1fr);
    }
    @else if $columns == 3 {
        grid-template-columns: repeat(3, 1fr);
    }
    @else if $columns == 2 {
        grid-template-columns: repeat(2, 1fr);
    }
    @else if $columns == 1{
        grid-template-columns: 1fr;
    }
}

 
.grid-categories{


    @include grid-responsive(4);
    gap: 8px;
    max-width: 900px;
    margin: 0 auto;
    justify-content: center;
    
   

   
    @include responsive(mobile){
        @include grid-responsive(2);

        
        
    }

}




.container{
    max-width: $container-desktop;
    margin: 0 auto;
    padding: 16px;  //Talvez mudar para 124/128.
    
    
    

    @include responsive(mobile){
        flex-direction: column;
        padding: 16px;
        margin: 0;
        
    }
}









