.bg-section-receitas {
  background-color: peachpuff;
}

.recipe-container {
  margin-top: 15px;
  @include grid-responsive(2);
  gap: 15px;
  
  @include responsive(mobile){
    display: flex;
    flex-direction: column;
    @include grid-responsive(1);
  }
}

.recipe-item {
  border: 1px solid red;
  display: flex;
  align-items: stretch;
  background-color: #FFFAF0;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  transition: background-color 0.3s ease;
  
  
  
  /* Hover no card inteiro */
  &:hover {
    background-color: #2e7d32;
    
    /* Mudança de cor para todos elementos de texto */
    h3, p {
      color: #ffffff;
    }
    
    /* Cor do círculo no hover */
    .circle-clip {
      background-color: #2e7d32;
    }
  }
}

.image-wrapper {
  position: relative;
  width: 100px;
  height: auto;
  flex-shrink: 0;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.circle-clip {
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background: #FFFAF0;
  clip-path: circle(17px at center);
  z-index: 2;
  transition: background-color 0.3s ease;
}

.recipe-content {
  flex-grow: 1;
  padding: 12px;
  display: flex;
  align-items: flex-start;
}

.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Título da receita */
.content-wrapper h3 {
  color: #333;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.2;
  transition: color 0.3s ease;
  width: 100%;
  display: block;
}

/* Descrição da receita */
.recipe-description {
  color: #333;
  transition: color 0.3s ease;
  
 
  display: block;
  padding-left: 16px;
}

/* Tags da receita */
.recipe-tags {
  display: flex;
  gap: 8px;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 1px solid red;
}

.tag {
  width: 30px;
  height: 30px;
}

@include responsive(mobile) {
  .recipe-item {
    transform: scale(0.9);
    min-height: 122px;
  }

  .image-wrapper {
    width: 80px;
    height: auto;
  }

  .circle-clip {
    width: 40px;
    height: 40px;
    right: -20px;
    clip-path: circle(14px at center);
  }

  .recipe-content {
    padding: 8px;
  }
}