.recipe-page {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  
  .recipe-title {
    font-family: "Lora";
        font-style: italic;
        font-weight: 500;
        font-size: 46px;
    text-align: center;
  }
  
  .recipe-categories {
    display: flex;
    justify-content: center;
    gap: 18px;
   
    padding-bottom: 12px;
    padding-top: 12px;

    .category-icon{
        width: 40px;
        height: 40px;
    }
  }
  
  .recipe-image {
    img {
      width: 90%;
      max-height: 400px;
      object-fit: cover;
      border-radius: 5px;
    }
  }
  
  .recipe-content {
    display: grid;
    grid-template-columns: 2fr 2fr;
    
    border: 1px solid green;
    padding-top: 12px;
    padding-left: 50px;
   

    .ingredients, .instructions {
      
      padding: 12px;

      h2 {
        
        font-weight: 500;
        font-size: 30px;
        margin-bottom: 16px;
      }
      
      ul, ol {
        list-style: none;
        padding: 0;
        
        li {
          margin-bottom: 18px;
          
          
          
          input[type="checkbox"] {
            accent-color: #c8e6cc;
            transform: scale(1.2);
          }
        }
      }
    }

  }
}

.instructions {
      max-width: 500px;
    }

.recipe-step {
display: flex;
align-items: center;
gap: 8px;
cursor: pointer;
font-size: 16px;
font-family: 'Sora';
}



.share-options{
    text-align: center;

   
}

.share-icons{
    display: inline-block;
    padding-left: 20px;
    padding-top: 5px;
    border: 1px solid green;
}




