@mixin typeface-title($size, $device) {
  // h0 - Título Principal / Hero
  @if $size == h0 and $device == desktop {
    font-family: 'Della Respira', serif;
    font-weight: 400;
    font-size: 97px;
    line-height: 110%;
  }
  @else if $size == h0 and $device == mobile {
    font-family:  'Della Respira', serif;
    /*font-family: 'P22MackinacProExtraBold', serif;*/
    font-weight: 400;
    font-size: 70px;
    
  }
   
  // h1 - Título de Seção
  @else if $size == h1 and $device == desktop {
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
  }
  @else if $size == h1 and $device == mobile {
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 500;
    font-size: 32px;
    line-height: 125%;
  }
   
  // h2 - Subtítulo Principal
  @else if $size == h2 and $device == desktop {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    line-height: 130%;
  }
  @else if $size == h2 and $device == mobile {
    font-family: 'Lora', serif;
    font-style: italic;
    font-weight: 500;
    font-size: 28px;
    line-height: 135%;
  }
   
  // h3 - Título de Componente
  @else if $size == h3 and $device == desktop {
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
  }
  @else if $size == h3 and $device == mobile {
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
  }
   
  // h4 - Subtítulo de Componente
  @else if $size == h4 and $device == desktop {
    font-family: 'Lora', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
  }
  @else if $size == h4 and $device == mobile {
    font-family: 'Sora', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
  }
   
  // h5 - Título de Destaque
  @else if $size == h5 and $device == desktop {
    font-family: 'Lora', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 21px;
    line-height: 160%;
  }
  @else if $size == h5 and $device == mobile {
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
  }
}



@mixin typeface-body($size, $device) {
  font-family: 'Lora', sans-serif;
  font-weight: 500;

 

  //Medium
  @if $size == p2 and $device == desktop {
    font-size: 18px;
    line-height: 160%;
  } @else if $size == p2 and $device == mobile {
    font-size: 14px;
    line-height: 150%;
  }

  //Small
  @else if $size == p3 and $device == desktop {
    font-size: 14px;
    line-height: 150%;
  } @else if $size == p3 and $device == mobile {
    font-size: 14px;
    line-height: 150%;
  }

  //Big
  @else if $size == p4 and $device == desktop{
    font-size: 24px;
    line-height: 150%;
   
  } @else if $size == p4 and $device == mobile{
    font-size: 16px;
   
  }
}

@font-face {
  font-family: 'P22MackinacProExtraBold';
  src: url('../font/P22MackinacProExtraBold.otf') format('opentype'),
    url ('../font/P22MackinacProExtraBold.woff2') format('woff2'),
    url('../font/P22MackinacProExtraBold.woff') format('woff');

  font-weight: 800; // "ExtraBold" geralmente corresponde a 800
}

p{
  @include typeface-body(p2, desktop);
  color: #333;

  /*color: #444;  #333*/
}


.h0 {

    display: flex;
  justify-content: flex-start;

  color: #FFC107;  /*#6F7561, #D4785A ,#FFC107 , #734060*/
  
 
   
    
    
 text-shadow: 
        1px 1px 2px rgba(119, 117, 117, 0.7),
        0 0 10px rgba(253,205,119, 0.7); 



  @include typeface-title(h0, desktop);

  @include responsive(mobile) {
    @include typeface-title(h0, mobile)
    
  }
}

h1:not(.h0) {
  @include typeface-title(h1, desktop);

  @include responsive(mobile){
     @include typeface-title(h1, mobile);
  }
 
}

h2 {
  color: #333;
  @include typeface-title(h2, desktop);
  
  @include responsive(mobile){
    @include typeface-title(h2, mobile);
  }
  
}

h3 {
  @include typeface-title(h3, desktop);
  @include typeface-title(h3, mobile);
}

h4{
  @include typeface-title(h4, desktop);
}

h5{
  
  @include typeface-title(h5, desktop);
  @include responsive(mobile){
    @include typeface-title(h5, mobile);
  }
}
