@mixin typeface-title($size, $device) {
  

  
  //h1
  @if $size == h1 and $device == desktop {
   
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400;
    font-size: 44px;
    line-height: 100%;
  } @else if $size == h1 and $device == mobile {
   
      
    font-family: 'Lora';
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
  
  }

  //h2
  @else if $size == h2 and $device == desktop {
    font-family: 'Sora', 'sans-serif';
    font-size: 52px;
    line-height: 100%;
  } @else if $size == h2 and $device == mobile {
    font-family: 'Sora', 'sans-serif';
    font-size: 36px;
    line-height: 120%;
  }

  //h3
  @else if $size == h3 and $device == desktop {
    font-family: 'Sora', 'sans-serif';
    font-size: 32px;
    line-height: 120%;
  } @else if $size == h3 and $device == desktop {
    font-size: 24px;
    line-height: 130%;
  }

  //h4
  @else if $size == h4 and $device == desktop {
    font-family: 'Sora', 'sans-serif';
    font-size: 24px;
    line-height: 130%;
  } @else if $size == h4 and $device == mobile {
    font-family: 'Sora', 'sans-serif';
    font-size: 18px;
    line-height: 130%;
  }

  //h5
  @else if $size == h5 and $device == desktop {
    font-size: 18px;
    line-height: 140%;
  } @else if $size == h5 and $device == mobile {
    font-size: 16px;
    line-height: 150%;
  }


  //h0
  @else if $size == h0 and $device == desktop{
    font-size: 68px;
    line-height: 100%;
    font-family: 'P22MackinacProExtraBold';
  } @else if $size == h0 and $device == mobile{
    font-size: 64px;
    line-height: 120%;
    font-family: 'P22MackinacProExtraBold';
  }


}

@mixin typeface-body($size, $device) {
  font-family: 'Sora', sans-serif;

  //Medium
  @if $size == p2 and $device == desktop {
    font-size: 20px;
    line-height: 140%;
  } @else if $size == p2 and $device == mobile {
    font-size: 14px;
    line-height: 150%;
  }

  //Small
  @else if $size == p3 and $device == desktop {
    font-size: 14px;
    line-height: 150%;
  } @else if $size == p3 and $device == mobile {
    font-family: 14px;
    line-height: 150%;
  }
}

@font-face {
  font-family: 'P22MackinacProExtraBold';
  src: url('../font/P22MackinacProExtraBold.otf') format('opentype'),
    url ('../font/P22MackinacProExtraBold.woff2') format('woff2'),
    url('../font/P22MackinacProExtraBold.woff') format('woff');

  font-weight: 800; // "ExtraBold" geralmente corresponde a 800
}

p{
  @include typeface-body(p2, desktop);
}

/*.teste{
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
}*/

.h0 {

  
 
 
  color: white;
  @include typeface-title(h0, desktop);

  @include responsive(mobile) {
    @include typeface-title(h0, mobile)
    
  }
}

h1:not(.h0) {
  @include typeface-title(h1, desktop);

  @include responsive(mobile){
     @include typeface-title(h1, mobile);
  }
 
}

h2 {
  @include typeface-title(h2, desktop);
}

h3 {
  @include typeface-title(h3, desktop);
}

h4{
  @include typeface-title(h4, desktop);
}

